@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400; /* Es el peso normal de una fuente normal */
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400; 
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold; 
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold; 
}

/* html es igual a :root, aunque este tiene más especifidad */
:root {
    font-size: 16px;
    --white10: #FFFFFF;
    --white20: #A5A3A5;
    --white30: #3A3539;
    --white40: #616161;
}

body {
    background: #251F24;
    color: var(--white10);
    font-family: 'Nunito', sans-serif;
    /* margin-inline: 20px;
    margin-block: 40px; */
    margin: 0;
}

a {
    color: var(--white10)
}

header {
    /* --white10: red; */
    color: var(--white10);
    font-size: 14px;
    position: absolute;
    /* top */
    inset-block-start: 80px;
    /* end */
    inset-block-end: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
}

.header {
    position: sticky;
    inset-block-start: -60px;
}

.header-content {
    position: relative;
}

header li {
    margin-block-end: 16px;
}

header a {
    color: var(--white40);
    text-decoration: none;
}

header a:hover {
    color: var(--white10);
}

nav details summary {
    font-weight: bold;
}

h1 {
    /* font-size: 60px; */
    font-size: 3.75em;
    text-align: center;
    margin-block-start: 64px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

hr {
    margin-block: 40px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

pre {
    background: var(--white30); /* Backgroun de la ventana de código pre*/
    border-radius: 8px;
    padding: 40px;
    overflow: auto;
    border: 5px solid #5551FF;
    box-shadow: -10px 10px 10px 0px #ABAAF6;
    /* border-inline-start: 5px solid orange;
    border-block: 8px dashed purple; */
}

.hero {
    /* background: linear-gradient(to top, red, blue), url('../images/patron-1.png'); */
    /* background: linear-gradient(to top, rgba(255, 255, 255, .43), transparent), url('../images/patron-1.png'); */
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /* background-repeat: no-repeat; */
    /* background-position: left 50px top 100px; */
    /* background-size: cover; */
    height: 350px;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before{
    content: counter(titleList, decimal) ". ";
}

.section-content h3::after{
    content: '';
    background: var(--white30);
    display: block;
    height: 4px;
    left: 0px;
    top: 32px;
    width: 80px;
}

.section-content img {
    display: block;
    margin-block-start: 40px;
    max-inline-size: 100%;
}

.main {
    border: 3px solid red;
}

.wrapper {
    border: 3px solid yellow;
    /* max-inline-size: sirve para establecer el ancho máximo que queremos
    Pero que no haya overflow si es menos de esa medida */
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    border: 3px solid blue;
    padding-inline: 16px;
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background-color: var(--white30);
    border-radius: 8px;
    font-size: 24px;
    line-height: 32px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
}

/* Selection es para un elemento que se haya seleccionado */
/* ::selection {
    background: red;
} */